<!--index.ejs-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>nodejs cloud demonstration</title>
    </head>
    <body>
        <h1>product list</h1>
        <p>add a new product</p>
        <form action="/products" method="POST">
            <input type="text" placeholder="store location" name="storeLocation">
            <input type="date" name="month">
            <input type="number" placeholder="total revenue" name="totalRevenue">
            <button type="submit">submit</button>
        </form>

        <!--product list-->
        <table class="product">
            <tr>
                <th>record ID</th>
                <th>store location</th>
                <th>month</th>
                <th>total revenue</th>
            </tr>
            
            <% for(var i = 0; i < products.length; i++) { %>
                <tr class="product">
                    <td class="product"><%= products[i]._id %></td>
                    <td class="product"><%= products[i].storeLocation %></td>
                    <td class="product"><%= products[i].month %></td>
                    <td class="product"><%= products[i].totalRevenue %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>